---
const { textClass } = Astro.props;
const { containerClass } = Astro.props;
const { isParagraph } = Astro.props;
---

<div class=`scroll-reveal ${containerClass}`>
    {
        !isParagraph && (
            <span class={textClass}>
                <slot />
            </span>
        )
    }
    {
        isParagraph && (
            <p class={textClass}>
                <slot />
            </p>
        )
    }
</div>
<style>
    .scroll-reveal span {
        /* font-size: 3rem; */
        color: hsl(0 0% 100% / 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(
            135deg,
            rgb(0, 200, 83) 0%,
            rgb(0, 150, 136) 50%,
            rgb(0, 121, 107) 100%
        );
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
        /* animation-range: contain; */
        animation-range-start: cover 20vh;
        animation-range-end: cover 50vh;
    }
    .scroll-reveal p {
        /* font-size: 3rem; */
        color: hsl(0 0% 100% / 0.2);
        background-clip: text;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        background-image: linear-gradient(
            135deg,
            rgb(15, 23, 42) 0%,
            /* slate-900 */ rgb(100, 116, 139) 50%,
            /* slate-500 */ rgb(203, 213, 225) 100% /* slate-300 */
        );
        animation: scroll-reveal linear forwards;
        animation-timeline: view();
        /* animation-range: contain; */
        animation-range-start: cover 20vh;
        animation-range-end: cover 50vh;
    }
    @keyframes scroll-reveal {
        to {
            background-size: 100% 100%;
            opacity: 1;
        }
    }
</style>
